.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);

  display: grid;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(120px, 50%) calc(100vh - 120px);
}
